*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins' , sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    color: #ededed;
    background:linear-gradient(90deg ,rgb(0, 0, 0),var(--base1) ) ;
    transition: 0.5s;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
header.sticky{
    background:linear-gradient(90deg ,rgb(0, 0, 0),var(--base1) ) ;
    box-shadow: 0 0 20px var(--base2);
}

.logo{
    position: absolute;
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    top: 20px;
    left: 5%;
    transition: 0.5s;
}
.logo:hover{
    color: red;
    transition: 0.5s;
}
.logo:hover span{
    color: #ededed;
    transition: 0.5s;
}
.logo span{
    color: red;
    transition: 0.5s;
}
.navbar a{
    width: 95px;
    display: inline-block;
    font-size:25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left:35px ;
    text-align: center;
}
.navbar a.active {
    font-weight: 600;
    text-shadow: 0 0 20px var(--base2);
    border-bottom: 3px solid var(--base2); /* Blue underline */
    color: var(--base2); /* Text color change on active */
    transition: .7s;
  }
.navbar a:hover,h1:hover,h2:hover,h3:hover,h4:hover,h5:hover,p:hover{
    color: var(--base2);
    font-weight: 600;
    text-shadow: 0 0 20px var(--base2);
    transition: .4s;
    transition: 0.5s;
}
.home, .about{
    position: relative;
    width: 98vw;
    justify-content: space-between;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
    padding-block: 13rem 12rem;
}
.about{
    padding-block: 15rem 10rem;
}

.home-content, .about-content{
    max-width: 600px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;

}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}

.home-content p{
    font-size: 20px;
}
.home-sci a,#toggle-music{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 50%;
    font-size: 20px;
    color: var(--base2);
    text-decoration: none;
    margin: 30px 15px 30px 0;
}
#toggle-music{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 15px;
    left: 15%;
    border: none;
}

.contact{
    position: relative;
    width: 98vw;
    justify-content: space-between;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.contact-content{
    width: 40%;
    border-radius: 20px;
    padding: 28px 32px;
    display: flex;
    flex-direction: column;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}
#toggle-music:hover{
    background: var(--base2);
    color: var(--base1);
    box-shadow: 0 0 20px var(--base2);
    transition: .3s;
}
.home-sci a:hover{
    background: var(--clr);
    color: #ffffff;
    box-shadow: 0 0 20px var(--base2);
    transition: .3s;
}
.btn-box{
    position: absolute;
    right:5%;
    top: 13px;
    text-decoration: none;
    padding: 12px 28px;
    color: #ededed;
    border-radius: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    display: flex;
    flex-direction: row;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 600;
}
.section_title{
    margin-bottom: 2rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
}
.contact_description{
    margin-bottom: 3rem;
}
.contact_description a{
    text-decoration: none;
    color: #ededed;
}
.contact_input{
    border: 2px solid;
    padding: 0.8rem 1.25rem;
    width: 100%;
    border-radius:  50px;
    font-size:  15px; 
    margin-bottom: 1.25rem;
}
.btn{
    display: inline-block;
    background:transparent;
    color:var(--base2) ;
    border: 2px solid ;
    border-radius: 2cm;
    padding: 1rem 2.5rem;
    font-size: medium;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover{
    background-color:var(--base2);
    color:var(--base1);
    font-weight: 700;
}
.btn-box:hover{
    backdrop-filter: blur(0);
    background: var(--base2);
    color: var(--base1);
    box-shadow: 0 0 20px var(--base2);
}
.home_img,.about_img,.contact_img{
    width: 420px;
    height: 420px;
    border-radius: 50%;
    box-shadow: 0 0 70px var(--base2);
    transition: 0.4s;
}
.home_img:hover,.about_img:hover,.contact_img:hover{
    width: 450px;
    height: 450px;
    transition: 0.4s;
}

/* projects */
.projects{
    padding-top: 5rem;
    margin-bottom: 3rem;
}
.projects h2{
    margin-bottom: 2rem;
}

.projects-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    gap: 2.9rem;
    margin-left: 2rem;
}
.projects-content .projects-box{
    width: 90%;
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--base2);
    overflow: hidden;
    display: flex;
}
.projects-box img{
    width: 100%;
    transition: .5s ease;
    opacity: 0.7;
}
.projects-box:hover img{
    transform: scale(1.1);
}
.projects-box .projects-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.1) , var(--base1));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.projects-box:hover .projects-layer{
    transform: translateY(0);
}
.projects-layer h4{
    font-size: 2rem;
}
.projects-layer p{
    font-size: 1.3rem;
    margin: .3rem 0 1rem;
}
.projects-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: #ededed;
    border-radius: 50%;
}
.projects-layer a i{
    font-size: 1rem;
    color: var(--base1);
}
.heading{
    text-align: center;
    font-size: 3rem;
}
.heading span{
    color: var(--base2);
}




/* @media all and (min-width: 1001px) {

}

@media all and (max-width: 1000px) and (min-width: 610px) {
  
} */

@media all and (max-width: 609px){ 
    .btn-box{
        padding: 6px 8px;
        font-size: 11px;
        top: 17%;
        letter-spacing: 1px;
    }
    .logo{
        font-size: 24px;
        top: 14%;
    }
    .home_img{
        border-radius: 20px;
        width: 250px;
        height: 250px;
        margin-top: 20px;
    }
    .home-content{
        padding-top: 20%;
    }
    .home-content h1{
        font-size: 46px;
        font-weight: 700;
    }
    .contact_img{
        width: 320px;
        height: 320px;
    }
    .about_img{
        width: 280px;
        height: 280px;
    }
    .im{
        display: flex;
        justify-content: center;
    }
    .contact .im{
        align-items: center;
    }
    .footer{
        position: fixed;
        bottom: 0px;
        width: 100vw;
        padding: 10px 10%;
        background: linear-gradient(90deg ,rgb(0, 0, 0),var(--base1) );
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
    .contact-content{
        width: 100%;
        margin-top: 30%;
    }
    .section_title{
        margin-bottom: 1rem;
        font-size: 20px;
    }
    .contact_input{
        padding: 0.4rem;
        font-size:  15px; 
        margin-bottom: 1.25rem;
    }
    footer.sticky{
        background:linear-gradient(90deg ,rgb(0, 0, 0),var(--base1) ) ;
        box-shadow: 0 0 20px var(--base2);
    }
    .about,.home,.contact{
        display:block;
        padding-block: 90px;
    }
    .navbar a{
        margin-left:35px ;
        width: auto;
    }
    .navbar{
        margin-left: -35px;
    }
    .home-sci a{
        margin-top: 30px;
    }
    #toggle-music{
        top: 7px;
        left: 34%;
        font-size: 12px;
        width: 25px;
        height: 25px;
    }.projects-content{
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
        margin-left: 1rem;
    }
    .heading{
        font-size: 2rem;
    }
    .projects-layer h4{
        font-size: 1.2rem;
    }
    .projects-layer p{
        font-size: 0.8rem;
        margin: 0rem 0 -1rem;
    }
    .projects-layer a{
        width: 1.2rem;
        height: 1.2rem;
    }
    .projects-layer a i{
        font-size: 0.5rem;
    }
    .home_img:hover{
        width: 270px;
        height: 270px;
        transition: 0.4s;
    }
    .about_img:hover{
        width: 290px;
        height: 290px;
        transition: 0.4s;
    }
    .contact_img:hover{
        width: 10px;
        height: 140px;
        transition: 0.4s;
    }
    
    .contact_description{
        margin-bottom: 1rem;
    }
    .btn{
        border-radius: 50px;
        padding: 0.5rem 1.5rem;
        font-size:14px;
    }
    .contact_img{
        z-index: -10;
    }
}