/*=============== GOOGLE FONTS ===============*/

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: ;

  /*========== Colors ==========*/
  /* Color mode HSL(hue, saturation, lightness) */
  --first-color: ;
  --title-color: ;
  --text-color: ;
  --body-color: ;
  --container-color: ;
  --border-color: ;

  /*========== Font and typography ==========*/
  /* .5rem = 8px | 1rem = 16px ... */
  --body-font: ;
  --second-font: ;

  --big-font-size: ;
  --h1-font-size: ;
  --h2-font-size: ;
  --h3-font-size: ;
  --normal-font-size: ;
  --small-font-size: ;
  --smaller-font-size: ;

  /*========== Font weight ==========*/
  --weight-300: ;
  --weight-400: ;
  --weight-500: ;
  --weight-600: ;
  --weight-700: ;
  --weight-900: ;

  /*========== Transition ==========*/
  --transition: ;

  /*========== Border Radius ==========*/
  --radius: ;

  /*========== z index ==========*/
  --z-tooltip: ;
  --z-fixed: ;
}

/* Responsive typography */
@media screen and (max-width: 992px) {
  :root {
    --h2-font-size: ;
    --h3-font-size: ;
    --normal-font-size: ;
    --small-font-size: ;
    --smaller-font-size: ;
  }
}

/*=============== BASE ===============*/

/*=============== REUSABLE CSS CLASSES ===============*/

/*=============== HEADER & NAV ===============*/

/* Active link */

/* Change background header */

/*=============== HOME ===============*/

/*=============== ABOUT ===============*/

/* Active tab */

/*=============== SERVICES ===============*/

/*=============== WORK ===============*/

/* Work hover */

/*=============== CONTACT ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL UP ===============*/

/* Show scrollup */

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

/* For medium devices */
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

/* For small devices */
@media screen and (max-width: 350px) {
}
